[server]
address = ":8081"
api_dbg_prefix = "/api/dbg/"
api_v1_prefix = "/api/v1/"
api_v2_prefix = "/api/v2/"
api_v1_spec_file = "server/api/v1/openapi.json"
api_v2_spec_file = "server/api/v2/openapi.json"
debug = true
auth = false
auth_type = "xrh"
use_https = false
enable_cors = false
enable_internal_rules_organizations = false
internal_rules_organizations = []
log_auth_token = true

[services]
aggregator = "http://localhost:8080/api/v1/"
content = "http://localhost:8082/api/v1/"
groups_poll_time = "60s"
content_directory_timeout = "5s"

[setup]
internal_rules_organizations_csv_file = ""

[metrics]
namespace = "smart_proxy"

[sentry]
dns = ""

[kafka_zerolog]
broker = ""
topic = ""
cert_path = ""
level = ""

