[server]
address = ":8081"
api_prefix = "/api/v1/"
api_spec_file = "openapi.json"
debug = true
auth = true
auth_type = "xrh"
use_https = false
enable_cors = false
enable_internal_rules_organizations = false
internal_rules_organizations = []
log_auth_token = true

[services]
aggregator = "http://localhost:8080/api/insights-results-aggregator/v1/"
content = "http://localhost:8082/api/v1/"
groups_poll_time = "60s"

[setup]
internal_rules_organizations_csv_file = ""

[metrics]
namespace = "smart_proxy"
