[server]
address = ":8081"
api_prefix = "/api/v1/"
api_spec_file = "openapi.json"
debug = true
auth = false
auth_type = "xrh"
use_https = false
enable_cors = false

[services]
aggregator = "http://localhost:8080/api/v1/"
content = "http://localhost:8082/api/v1/"
groups_poll_time = "60s"
